<section class="row g-4 mt-2 mb-4">
	{% for trick in tricks %}
		<div class="col-md-4 col-sm-6 col-lg-3">
			<div class="card w-100 h-100">
				{% set picture = trick.pictures|first %}
				{% if picture %}
					<img src="{{ asset('pictures/tricks/mini/200x200-') }}{{ picture.name }}" class="card-img-top" alt="..." >
				{% else %}
					<img src="{{ asset('pictures/tricks/default.jpg') }}" class="card-img-top" alt="..." >
				{% endif %}

				<div class="card-body">
					<div class="d-flex justify-content-between align-items-center">
						<h5 class="card-title mb-0">
							<a href="{{ path('trick', {id: trick.id}) }}" class="text-decoration-none text-dark">
								{{ trick.name|title }}
							</a>
						</h5>

						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<div class="d-flex justify-content-end">
								<a href="{{ path('trick_edit', {id: trick.id}) }}" class="btn btn-success me-1" title="Modifer">
									<i class="bi bi-pencil-square"></i>
								</a>

								<a href="{{ path('trick_delete', {id: trick.id}) }}" class="btn btn-danger" title="Supprimer">
									<i class="bi bi-trash3"></i>
								</a>
							</div>
						{% endif %}
					</div>

					<div class="fw-lighter mt-2">
						{{trick.description|u.truncate(50, '...')}}
					</div>

				</div>
			</div>
		</div>	
	{% endfor %}
</section>