{% extends 'base.html.twig' %}

{% block title %}add Trick{% endblock %}

{% block body %}
    {# condition user should be connect #}

    <h1 class="text-center">Ajouter une figure</h1>

    {{ form_start(trickForm) }}
        <div id="pictures" data-prototype="{{ form_row(trickForm.pictures.vars.prototype)|e('html_attr') }}">
            {{ form_row(trickForm.pictures)}}
            <span></span>
        </div>

        <div id="movies" data-prototype="{{ form_row(trickForm.movies.vars.prototype)|e('html_attr') }}">
            {{ form_row(trickForm.movies)}}
            <span></span>
        </div>

        {{ form_row(trickForm.name) }}
        {{ form_row(trickForm.description) }}
        {{ form_row(trickForm.figureGroup) }}

        <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(trickForm)}}


{% endblock %}


{% block javascripts %}
    <script src="{{ asset('assets/js/picturesScript.js') }}"></script>
    <script src="{{ asset('assets/js/moviesScript.js') }}"></script>
{% endblock %}